.App {
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.tab-content {
  margin: 10px;
}

body {
}

/********************************************************************/
/*** PANEL PRIMARY ***/



.nav-tabs {
  background-color: #3071a9;
  border-bottom: none;
  margin-bottom: -1px;
  padding: 5px 5px 0 5px;
  border-top-left-radius:6px;
  border-top-right-radius:6px;
  border-color: transparent;
}


.main-nav {
  margin: 10px;
  background-color: #2F4858;
}

ul.nav {
  padding-left: 3px;
}


.nav-tabs > li > a {
  color: white;
}
.nav-tabs > li > a:hover {
  color: #33658A;
  cursor: pointer;
  background-color: #86BBD8;
}

.nav-tabs > li > a.active {
  color: #33658A;
  background-color: white;
}

.paneContent {
  width:100%;
  animation: fadein 1s;
  -moz-animation: fadein 1s; /* Firefox */
  -webkit-animation: fadein 1s; /* Safari and Chrome */
  -o-animation: fadein 1s; /* Opera */
}
.editPaneContent {
  animation: fadein 1s;
  -moz-animation: fadein 1s; /* Firefox */
  -webkit-animation: fadein 1s; /* Safari and Chrome */
  -o-animation: fadein 1s; /* Opera */
}
.pane {
  animation: fadein 1s;
  -moz-animation: fadein 1s; /* Firefox */
  -webkit-animation: fadein 1s; /* Safari and Chrome */
  -o-animation: fadein 1s; /* Opera */
}

.memo-button {
  color: white;
  float: right;
  margin-top: 3px;
  cursor: pointer;
}

.memo-button:hover {
  color: orange;
  float: right;
  margin-top: 3px;
  cursor: pointer;
}

.memo-button-text {
  font-size: 20px;
}

@keyframes fadein {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
    opacity:0;
  }
  to {
    opacity: 1;
  }
}
